{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
 {% comment %} <p> User : {{request.user.id}}</p> {% endcomment %}
<a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Your Profile</a>

<section class="container">
  <h2 style="margin-left:500px">Your Purchased Cars</h2>
  <div class="row" >
      {% for car in purchased_cars %}
      <div class="col-sm-3 mb-4">
          <div class="card">
              <img class="card-img-top" src="{{ car.image.url }}" alt="{{ car.car_name }}">
              <div class="card-body">
                  <h5 class="card-title">Car Name: {{ car.car_name }}</h5>
                  <p class="card-text">Price: {{ car.car_price }}</p>
                  <p class="card-text">Model: {{ car.car_model.brand_name }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</section>

{% endblock content %}